/*
 * Skin/skills
 */

.post-blog{
	.cat-post{
		a{
				span{
					@include textBreak();
					background-color:$defaultColor;
					color: $white;
					font-size: 18px;
					font-family: $title;
					padding: 5px;
				}
			}
	}
	.col-md-12{
		margin-bottom: 30px;
	}
	.text-content{
		h3, p{
			color: $white;
		}
		p{
			font-size: 14px;
		}
	}
}

.content-btn{
	margin:0 auto;
	text-align: center;
}