.detalle{
	padding: 90px 0;
	.title{
		text-align: right;
		h2{
			margin-top: 55px;
		}
	}
	.text{
		h4{
			margin-top: 0;
			margin-bottom: 5px;
		}
	}
	.list-content{
		padding: 30px 0;
		.col-xs-2{
			text-align: center;
		}
		p{
			margin-bottom: 0;
		}
	}
}